  <div class='form-group nested-fields'>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>
    <%= link_to_remove_association "remove text_line", f %>
  </div>
