<p><strong><%= experience.organization %></strong> <br />
	<em><%= experience.title %></em>
</p>
<ul>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec viverra velit, nec rutrum urna</li>
	<li>Nunc cursus turpis mi, non egestas est tincidunt vitae. Donec at pulvinar ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.</li>
	<li>Sed lacinia tristique ligula, at egestas augue gravida quis.</li>
</ul>
