<div>
	<div class='page'>
		<h1>
			<strong>
				<%=@cv.name %>
			</strong>
		</h1>
		<p>
			<%= @cv.email %>
		<p>

		<h3>
			<strong>
				Experience
			</strong>
		</h3>
		<hr>
		<% @cv.experiences.each do |experience| %>
      	<%= render partial: 'experiences/experience', locals: { experience: experience } %>
    <% end %>
	</div>
</div>
