 <div class='form-group nested-fields'>
  <br>
  <b>Honors & Achievements #</b>
  <hr>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <br>
  <%= link_to_remove_association "remove achievement", f %>
</div>
